.x-lada-warning-field {
  background-color: white;
  background-image: url(../img/warning_line.png);
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: #FFE25D;
}

.x-lada-error-field {
  background-color: white;
  background-image: url(../img/error_line.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: #FF0000;
}

.x-lada-multiline-grid .x-grid-cell-inner{
    white-space: normal !important;
}

.window-inactive .x-window-header-text {color: #a9a9a9;}


.x-action-col-cell
{
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}

.x-action-col-icon.noedit
{
  background-image: url(../img/view-time-schedule-baselined.png);
}

.x-action-col-icon.noeditstatus
{
  background-image: url(../img/view-time-schedule-baselined-status.png);
}

.x-action-col-icon.edit
{
  background-image: url(../img/view-time-schedule-edit.png);
}

.x-action-col-icon.editstatus
{
  background-image: url(../img/view-time-schedule-edit-status.png);
}

.x-grid-checkheader {
  height: 16px;
  background-image: url('images/unchecked.gif');
  background-position: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
}

.x-grid-favcolumn-checked {
  background-image: url(../img/favorites.png);
}

.x-grid-favcolumn-unchecked {
  background-image: url(../img/favorites_off.png);
}

/* do not display clear-button (x) in IE10+ Input fields */
::-ms-clear {
   display: none;
}

/* do not display reveal-button in IE10+ PW-Input fields */
::-ms-reveal {
   display: none;
}

.row-expander-grid .x-grid-row-selected .x-grid-td {
    background-color : #c6c6c6;
}

.row-expander-grid .x-grid-row-over .x-grid-td {
    background-color : #e0e0e0;
}

.row-expander-grid .x-grid-with-row-lines .x-grid-td {
    border-bottom: 1px solid #e0e0e0;
}

.empty-text-field {
    background-image:url('../img/Find.png');
    background-repeat: no-repeat;
    background-position: left 5px center;
    padding-left: 20px;
}

/* Overwrites from Migration. Temporary fixes */
.x-form-clear-trigger {
    background-color: #cdcdcd !important;
}

.x-grid-row-editor-buttons-top {
    clip: auto !important;
}

span.x-grid-checkcolumn {
    pointer-events: none;
}

.widget-column-button {
    background-color: transparent !important;
    background-image: none !important;
    border-style: none !important;
}
