.x-lada-warning-field {
  background-color: white;
  background-image: url(../img/warning_line.png);
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: #FFE25D;
}

.x-lada-error-field {
  background-color: white;
  background-image: url(../img/error_line.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: #FF0000;
}

.window-inactive .x-window-header-text {color: #a9a9a9;}

/* do not display clear-button (x) in IE10+ Input fields */
::-ms-clear {
   display: none;
}

/* do not display reveal-button in IE10+ PW-Input fields */
::-ms-reveal {
   display: none;
}
