.x-lada-warning-field {
  background-color: white;
  background-image: url(../img/warning_line.png);
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: #FFE25D;
}

.x-lada-error-field {
  background-color: white;
  background-image: url(../img/error_line.gif);
  background-repeat: repeat-x;
  background-position: bottom;
  border-color: #FF0000;
}
